<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Betting</title>
</head>
<body>
<h1>Betting</h1>
<div>
  <form th:object="${einsatz}" th:action="@{einsaetze}" >
      <div th:each="spieler: ${spieler}">
          <table>
                <tr><td><label>Spieler: </label></td><td th:text="${spieler.getSpielernummer()}+1"></td></tr>
              <tr> <td><label>Einsatz: </label></td><td><input type="number" th:field="*{einsaetze}" min="0" th:max="${spieler.getKontostand()}"></td></tr>
          </table>
      </div>
      <button type="submit">Fertig</button>
  </form>
</div>
</body>
</html>