<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
    <h1>The Play</h1>
    <h3 th:text="'Spieler ' + ${spieler.getSpielernummer() +1}"></h3>
    <p th:text="'Einsatz: ' + ${spieler.getRundenEinsatz()}"></p>
    <p th:text="'Kontostand: ' + ${spieler.getKontostand()}"></p>
    <p>Geben oder Passen?</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
    <table class="table">
        <tr>
            <th>Karte</th>
            <th>Farbe</th>
            <th>Wert</th>
        </tr>
        <tr th:each="karte, iter : ${spieler.getHand()}">
            <td th:text="${iter.count}"></td>
            <td th:text="${karte.getFarbe()}"></td>
            <td th:text="${karte.getWert}"></td>
        </tr>
    </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1">
        <a href="/thePlay?standOrHit=false">
            <button type="button" class="btn btn-danger">Geben</button>
        </a>
        </div>
        <div class="col-2">
    <h3 th:text="'Handwert: ' + ${spieler.getHandWert}"></h3>
        </div>
    <div class="col-1">
    <a href="/thePlay?standOrHit=true">
        <button type="button" class="btn btn-success">Passen</button>
    </a>
    </div>
    </div>
</div>
</body>
</html>